<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myeatingmapdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".CheckMyRestaurant.PopUpActivity" android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".CheckMyRestaurant.CheckMyRestaurantActivity" />
        <activity android:name=".FIndRestaurant.FindRestaurantResultViewActivity" />
        <activity android:name=".Memo.MemoMyRestaurantActivity" />
        <activity android:name=".MarkMyRestaurant.MarkRestaurantActivity" />
        <activity android:name=".FIndRestaurant.FindRestaurantMarkActivity" />
        <activity android:name=".SearchedPlaceListViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>