<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myeatingmapdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".CheckMyEatingPlace.popupActivity" android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".CheckMyEatingPlace.CheckMyEatingPlaceActivity" />
        <activity android:name=".FIndEatingPlace.FindEatingPlaceResultViewActivity" />
        <activity android:name=".MyEatingPlace.MyEatingPlaceMemoActivty" />
        <activity android:name=".MyEatingPlace.MyEatingPlaceMarkActivity" />
        <activity android:name=".FIndEatingPlace.FindEatingPlaceMarkActivity" />
        <activity android:name=".FIndEatingPlace.FindEatingPlaceListViewActivity" />
        <activity android:name=".MyEatingPlace.MyEatingPlaceListViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>